.step-5{
    text-align: center;
    width: 50%;
}

.thanks__img{
    width: 80px;
}

.thanks__title{
    color: var(--marine-blue);
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.thanks__para{
    color: var(--cool-gray);
    line-height: 1.5rem;
}